body {
  background-color: #e1e5f2;
  max-width: 800px;
  margin: auto;
}

main {
  background-color: #ffffff;
  padding-top: 30px;
  padding-bottom: 30px;
}

.contact-card img {
  background-color: blue;
  width: 150px;
  height: 150px;
  margin-left: 66px;
  border-radius: 100%;
}

.contact-card h1 {
  position: absolute;
  top: 170px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-left: 250px;
}
.contact-list {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  position: absolute;
  top: 135px;
  margin-left: 600px;
  line-height: 40px;
}

.contact-list ul {
  list-style-type: none;
}
.contact-list img {
  position: absolute;
  margin-left: -38px;
  margin-top: 3px;
  list-style-type: none;
}
.contact-list a:link {
  color: #004478;
}

.contact-list a:visited {
  color: #004478;
}

.contact-list a:hover {
  color: #004478;
}

.projects-info {
  margin: 80px 62px 22px 62px;
}

.projects-info h2 {
  background-color: #bfdbf7;
  margin: 0 0 12px 0;
  padding: 10px 0 10px 36px;
  font-size: 24px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.info {
  margin: 22px 62px 22px 62px;
}
.info h2 {
  background-color: #bfdbf7;
  margin: 0 0 12px 0;
  padding: 10px 0 10px 36px;
  font-size: 24px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.info p {
  background-color: #edf1ff;
  margin: 0 0 26px 0;
  padding: 14px 22px 14px 22px;
  line-height: 24px;
  font-family: Arial, Helvetica, sans-serif;
}

.info ul {
  background-color: #edf1ff;
  margin: 0 0 26px 0;
  padding: 14px 22px 14px 35px;
  line-height: 24px;
  font-family: Arial, Helvetica, sans-serif;
}


.info div.code {
  background-color: rgb(90, 90, 90);
  color: white;
  margin: 0 0 26px 0;
  padding: 14px 22px 14px 22px;
  font-family: "Courier New", Courier, monospace;
}

footer {
  position: absolute;
  left: 0;
  width: 100%;
  height: 128px;
  background-color: gold;
}

.content-area {
  margin: auto;
  max-width: 600px;
}

.gh-logo {
  position: relative;
  top: 30px;
  width: 72px;
}

.rs-logo {
  position: absolute;
  width: 120px;
  top: 45px;
  margin-left: 400px;
}

.content-area p {
  position: absolute;
  top: 30px;
  margin-left: 80px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
