body {
  background-color: #050505;
  opacity: 1;
  background-image:  radial-gradient(#ccff00 2px, transparent 2px), radial-gradient(#ccff00 2px, #050505 2px);
  background-size: 80px 80px;
  background-position: 0 0,40px 40px;
}
main {
  display: flex;
  align-items: center;
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
  /* padding-right: 5px; */
}
@media screen and (min-width: 1440px) {
  .main__container {
    margin: 0 auto;
    padding: 50px;
    min-width: 1000px;
    /* background-color: #707070; */
    background-color: #ffffff;
    border: solid 0.5px #00000018;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.192);
  }
  .container__top-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 0px 50px 0px;
    justify-content: center;
  }
  .top-info__sub-info {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    padding: 10px;
  }
  #top-info__avatarofuser {
    border-radius: 100%;
    width: 200px;
    clip-path: circle();
    margin: 0;
  }
  #sub-info__nameofuser {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 3px;
  }
  #sub-info__statusofuser {
    color: rgb(107, 107, 107);
    font-size: large;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    margin: 3px 3px 3px 3px;
    text-align: center;
  }
  .main__infobox {
    display: flex;
    flex-direction: column;
    margin: 20px 0px 20px 0px;
    padding: 30px;
    background-color: whitesmoke;
    border-radius: 5px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.233);
  }
  .infobox__title {
    display: flex;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 18pt;
    height: auto;
  }
  .infobox__divider {
    margin: 10px 0 10px 0;
    width: fit-content;
    background-color: rgba(0, 0, 0, 0.192);
    width: auto;
    height: 1px;
  }
  .infobox__info {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
  }
  .main__infobox-row {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-column-gap: 50px;
  }
  .main__projects {
    display: flex;
    flex-direction: column;
    margin: 20px 0px 20px 0px;
    padding: 30px;
    background-color: whitesmoke;
    border-radius: 5px;
    border: solid 0.5px #00000018;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.192);
  }
  .projects__grid {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    margin: 0;
  }
  .grid__element {
    width: 170px;
    height: 250px;
    border-radius: 4%;
    background-color: #afafaf46;
    background: rgb(255, 194, 62);
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    text-align: center;
  }
  .grid__buttons-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .grid__button-box {
    position: relative;
    display: flexbox;
    width: 30px;
    height: 30px;
    background-color: rgb(127, 255, 212);
    padding: 5px;
    top: 150px;
    border-radius: 10%;
  }
  .grid__button-box > .grid__previousbt {
    padding: 5px;
    user-select: none;
  }
  .grid__button-box > .grid__nextbt {
    padding: 5px;
    user-select: none;
  }
}
